@import "tailwindcss";
@plugin "daisyui";

/* @theme inline {
  --color-primary: #00ff00;
  --color-secondary: #22c55e;
  --color-accent: #FF6467;
  --color-neutral: #1f2937;
  --color-base-100: #0A0A0A;
  --color-base-200: #18181b;
  --color-base-300: #27272a;
} */

:root {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  /* background-color: #0A0A0A; */
}
